BasedOnStyle: Google
IndentWidth: 1           # 1 space per indent level
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
SpacesBeforeTrailingComments: 2
TrimTrailingWhitespace: true
InsertFinalNewline: true

AccessModifierOffset: 0   # indent public/private 1 space inside class
IndentAccessModifiers: true
