image:
  repository: grafana/grafana-enterprise
  tag: latest
  pullPolicy: IfNotPresent

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: Loki
      type: loki
      url: http://loki-gateway.loki.svc.cluster.local
      access: proxy
      isDefault: false
      editable: true
    - name: Tempo
      type: tempo
      url: http://tempo:3200
      access: proxy
      isDefault: false
      editable: true
      jsonData:
        httpMethod: GET
        serviceMap:
          datasourceUid: prometheus
    - name: Prometheus
      type: prometheus
      url: http://prometheus-server:80
      access: proxy
      isDefault: false
      editable: true

service:
  type: NodePort
  port: 80
